/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-content {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */

/* Added CSS */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  font-family: "Press Start 2P";
  color: white;
  text-align: center;
  background-color: black;
  padding-right: 50px;
  padding-left: 50px;
}

h1 {
  padding-top: 20px;
  color: gold;
  border: 20px dotted blue;
  padding: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

#marquee-border {
  border: 30px dotted yellow;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:white ; }  }



input {
  background-color: gold;
  color: black;
  height: 25px;
}

#name-input {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#name-input button {
    color: red;
    font-size: 22px;
    /* text-align: center; */
    border: 10px solid yellow; 
    border-radius: 25px;
    position:absolute;
    width:200px;
    height:100px;
    /* background:#063; */
    top:350px;
    right:25%;
    left:60%;
    margin-left:-150px;
}

h2 {
  color: Chartreuse ;
  border: 5px solid red;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  text-align: none;
  overflow-wrap: break-word;
}


ol li {
  list-style-type: none;
  color: Ivory;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: gold;
}

#life-line-btn {
  color: white;
  background-color: red;
  border-radius: 50%;
}

#scoreboard {
  position:fixed;
  right:0;
  bottom:0;
}


/* We're calling this animation "crawl" */
/*  */

