.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-content {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* Added CSS */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: "Press Start 2P";
}

/* #add-font {
  font-family: "Press Start 2P";
} */

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#messages-list {
    padding: 5px 0 0 5px;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}
